[submodule "plugins/delimitMate"]
	path = plugins/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "plugins/SearchComplete"]
	path = plugins/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "plugins/tabular"]
	path = plugins/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "plugins/vim-snippets"]
	path = plugins/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "plugins/vim-surround"]
	path = plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugins/vim-numbertoggle"]
	path = plugins/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "plugins/vim-latex"]
	path = plugins/vim-latex
	url = https://github.com/jcf/vim-latex.git
[submodule "plugins/matchit"]
	path = plugins/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "vim-ruby-refactoring"]
	path = plugins/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "plugins/rainbow_parentheses.vim"]
	path = plugins/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "plugins/vim-clojure-static"]
	path = plugins/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "plugins/vim-fireplace"]
	path = plugins/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "plugins/vim-gitgutter"]
	path = plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "plugins/vim-startify"]
	path = plugins/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "plugins/ultisnips"]
	path = plugins/ultisnips
	url = git@github.com:LFDM/ultisnips.git
